<!DOCTYPE html>
<link rel="stylesheet" href="{{ asset('css/Footer.css') }}" />
<html>
<body>
<footer class="footer"><br>
    <p>Developers</p>
    <div class="column">
        <p>Dzmitry Mashuk</p>
        <p>dzmitrymashuk@gmail.com</p>
        <p>+ 375 (29) 234-14-09</p>
        <p>Darya Chernobay</p>
        <p>dashoid.chern@gmail.com</p>
        <p>+ 375 (29) 677-96-00</p>
    </div>
    <p>Quiz © 2017</p>
</footer>
</body>
</html>