<body>
    <link rel="stylesheet" href="{{ asset('css/passwordRecovery.css') }}" />
    {% block body %}
        {{ form_start(form) }}
        {{ form_row(form.email) }}
            <input type="submit" name="submit" value="Confirm">
        {{ form_end(form) }}
    {% endblock %}
</body>