<body>
    <link rel="stylesheet" href="{{ asset('css/login.css') }}" />
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <form  class="form-3" action="{{ path('login') }}" method="post">
        <p class="clearfix">
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" placeholder="Username" value="{{ last_username }}" />
        </p>
        <p class="clearfix">
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" placeholder="Password"/>
        </p>
        <p class="clearfix">
            <a href="http://localhost/quiz/web/app_dev.php/passwordRecovery">
            <input type="button" class="button" name="button" value="Forgot password?">
            </a>
        </p>
        <p class="clearfix">
            <input type="submit" name="submit" value="Sign in">
        </p>
        <p class="clearfix">
            <a href="http://localhost/quiz/web/app_dev.php/register">
                <input type="button" class="register" name="register" value="Sign up">
            </a>
        </p>
    </form>
</body>

