<h3>You did it! You have registered!</h3>

Hi, {{ userName }}! You have successfully registered!
To sign in, please, go to: <a href="{{ url('email', {'id': id})}}"><strong>link</strong></a>.

Thank you!